<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/login.css">
</head>

<body>
  <form action="" id="formPostLogin">
    <div class="container">
      <div class="wrapUpdate">
        <h1>Login</h1>
        <div id="id" style="visibility: hidden"> </div>
        <div class="titleClass">
          <h3>Username</h3>
          <input type="text" id="username" name="username" placeholder="username">
        </div>
        <div class="imageUrlClass">
          <h3>Password</h3>
          <input type="password" id="password" name="password" placeholder="password">
        </div>
        <div>
          <button class="btnDelete" id="save">Login</button>
          <a href="http://localhost/router/register" id="registerClick">Forgot Password ?</a>
        </div>
        <div style="margin-top: 20px;color: rgb(148, 17, 17)"><i class="fa-solid fa-house"></i> <a style="color: rgb(148, 17, 17)" href="">Quay lại trang chủ</a></div>
      </div>
    </div>
  </form>
</body>
<script src="/login.js"></script>

</html>